## Cleaning of NewCustomerList

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline

In [3]:
NewCustm = pd.read_excel('NewCustomerList_table.xlsx')

In [4]:
NewCustm.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [5]:
NewCustm.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [6]:
NewCustm['last_name']=NewCustm['last_name'].fillna(method='ffill')

In [8]:
NewCustm['last_name'].value_counts()

Burgoine         3
Van den Velde    3
Eliet            2
Minshall         2
Shoesmith        2
                ..
Copins           1
Wiltshire        1
Budden           1
Girodias         1
Baribal          1
Name: last_name, Length: 961, dtype: int64

In [7]:
NewCustm['DOB']=NewCustm['DOB'].fillna(method='ffill')

In [9]:
NewCustm['job_title'].value_counts()

Associate Professor             15
Software Consultant             14
Environmental Tech              14
Chief Design Engineer           13
Assistant Manager               12
                                ..
Human Resources Assistant I      1
Computer Systems Analyst III     1
Research Assistant I             1
Accounting Assistant IV          1
Programmer Analyst IV            1
Name: job_title, Length: 184, dtype: int64

In [12]:
NewCustm['job_title']=NewCustm['job_title'].fillna(method='bfill')

In [13]:
NewCustm['job_title'].value_counts()

Associate Professor               18
Environmental Tech                17
Chief Design Engineer             16
Payment Adjustment Coordinator    15
Design Engineer                   15
                                  ..
Human Resources Assistant III      1
Systems Administrator II           1
Web Developer II                   1
Accountant II                      1
Programmer Analyst IV              1
Name: job_title, Length: 184, dtype: int64

In [14]:
NewCustm['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [15]:
NewCustm['job_industry_category']=NewCustm['job_industry_category'].fillna(method='bfill')

In [16]:
NewCustm['job_industry_category'].value_counts()

Manufacturing         246
Financial Services    230
Health                185
Retail                 86
Property               80
IT                     63
Entertainment          49
Telecommunications     31
Argiculture            30
Name: job_industry_category, dtype: int64

In [17]:
final_NewCustomerList = pd.DataFrame({
        "first_name": NewCustm["first_name"],
        "last_name": NewCustm["last_name"],
        "gender": NewCustm["gender"],
        "past_3_years_bike_related_purchases": NewCustm["past_3_years_bike_related_purchases"],
        "DOB": NewCustm["DOB"],
        "job_title": NewCustm["job_title"],
        "job_industry_category": NewCustm["job_industry_category"],
        "wealth_segment": NewCustm["wealth_segment"],
        "deceased_indicator": NewCustm["deceased_indicator"],
        "owns_car": NewCustm["owns_car"],
        "tenure": NewCustm["tenure"],
        "address": NewCustm["address"],
        "postcode": NewCustm["postcode"],
        "state": NewCustm["state"],
        "country": NewCustm["country"],
        "property_valuation": NewCustm["property_valuation"],
        "Rank": NewCustm["Rank"],
        "Value": NewCustm["Value"]
    })

In [18]:
final_NewCustomerList.to_csv('./final_NewCustomerList.csv', index=False)

In [19]:
print(final_NewCustomerList.head())

  first_name  last_name  gender  past_3_years_bike_related_purchases  \
0    Chickie    Brister    Male                                   86
1      Morly     Genery    Male                                   69
2    Ardelis  Forrester  Female                                   10
3     Lucine      Stutt  Female                                   64
4    Melinda     Hadlee  Female                                   34

         DOB                   job_title job_industry_category  \
0 1957-07-12             General Manager         Manufacturing
1 1970-03-22         Structural Engineer              Property
2 1974-08-28      Senior Cost Accountant    Financial Services
3 1979-01-28  Account Representative III         Manufacturing
4 1965-09-21           Financial Analyst    Financial Services

      wealth_segment deceased_indicator owns_car  tenure              address  \
0      Mass Customer                  N      Yes      14     45 Shopko Center
1      Mass Customer                  N       No      16    14 Mccormick Park
2  Affluent Customer                  N       No      10  5 Colorado Crossing
3  Affluent Customer                  N      Yes       5   207 Annamark Plaza
4  Affluent Customer                  N       No      19    115 Montana Place

   postcode state    country  property_valuation  Rank     Value
0      4500   QLD  Australia                   6     1  1.718750
1      2113   NSW  Australia                  11     1  1.718750
2      3505   VIC  Australia                   5     1  1.718750
3      4814   QLD  Australia                   1     4  1.703125
4      2093   NSW  Australia                   9     4  1.703125

In [20]:
final_NewCustomerList.shape

(1000, 18)